.all-users-table-container {
    width: 80%;
    height: 30vh;
    margin-bottom: 4vh;
    overflow-y: scroll;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.users-table th,
.users-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
    color: rgb(36, 132, 173);
}

.users-table th {
    background-color: rgba(8, 158, 158, 0.934);
    color: white;
    font-weight: 600;
    position: sticky;
    top: 0;
}

.all-users-page {
    width: 100%;
    height: 100vh;
    padding: 13vh;
}
